In [7]:
# Import Pandas and NumPy libraries
import pandas as pd

# Import external library
from pathlib import Path

# Use the pathlib library to set the Path
Main_exchanges_futures = Path("Resources/Main_exchanges_futures.csv")

In [8]:
# Read CSV without setting a header
mainEXG_df = pd.read_csv(Main_exchanges_futures) 
mainEXG_df.head()

,Unnamed: 0,Open interest,Unnamed: 2,Unnamed: 3,Daily average turnover,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Open interest.6,Unnamed: 62,Unnamed: 63,Daily average turnover.6,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70
0,NaN,Dec 2014,Dec 2015,Mar 2016,2014.0,2015.0,Nov 2015,Dec 2015,Jan 2016,Feb 2016,...,Dec 2022,Jun 2023,Sep 2023,2021.0,2022.0,May 2023,Jun 2023,Jul 2023,Aug 2023,Sep 2023
1,Futures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,All markets,25580,25092,25447,5047.0,4572.0,4246,4408,5331,5774,...,36540,37279,36252,5863.0,8045.0,9856,9240,7315,8163,8468
3,Interest rate,25346,24857,25210,4934.0,4463.0,4162,4295,5227,5661,...,36220,36951,35934,5723.0,7892.0,9724,9090,7180,8030,8300
4,short-term,23736,23315,23588,4291.0,3863.0,3529,3756,4688,4879,...,33607,33776,32583,4836.0,6952.0,8553,8152,6397,6817,7340

In [6]:
# Read CSV and set the header
mainEXG = pd.read_csv(Main_exchanges_futures) 
mainEXG.head()

,Unnamed: 0,Open interest,Unnamed: 2,Unnamed: 3,Daily average turnover,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Open interest.6,Unnamed: 62,Unnamed: 63,Daily average turnover.6,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70
0,NaN,Dec 2014,Dec 2015,Mar 2016,2014.0,2015.0,Nov 2015,Dec 2015,Jan 2016,Feb 2016,...,Dec 2022,Jun 2023,Sep 2023,2021.0,2022.0,May 2023,Jun 2023,Jul 2023,Aug 2023,Sep 2023
1,Futures,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,All markets,25580,25092,25447,5047.0,4572.0,4246,4408,5331,5774,...,36540,37279,36252,5863.0,8045.0,9856,9240,7315,8163,8468
3,Interest rate,25346,24857,25210,4934.0,4463.0,4162,4295,5227,5661,...,36220,36951,35934,5723.0,7892.0,9724,9090,7180,8030,8300
4,short-term,23736,23315,23588,4291.0,3863.0,3529,3756,4688,4879,...,33607,33776,32583,4836.0,6952.0,8553,8152,6397,6817,7340

In [10]:
# Read CSV and set formatted `Date` column as index 
sp500_df = pd.read_csv(
    Main_exchanges_futures, index_col="Date", infer_datetime_format=True, parse_dates=True
)
mainEXG_df.head()

C:\Users\equit\AppData\Local\Temp\ipykernel_1748\4149476513.py:2: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  sp500_df = pd.read_csv(

ValueError: 'Date' is not in list

In [11]:
# Read in another CSV
amd_csv_path = Path("Resources/OTC foreign exchange instruments, by currency.csv") 
amd_df = pd.read_csv(
    OTC foreign exchange instruments, by currency, index_col="Date", infer_datetime_format=True, parse_dates=True
)

# Use the `concat` function to combine the two DataFrames by matching indexes (or in this case `Month`)
combined_df = pd.concat([amd_df, sp500_df], axis="columns", join="inner")

# Rename columns
combined_df.columns = ['AMD', 'SP500']
combined_df.head()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2936842421.py, line 4)

In [ ]:
# Use the `corr` function to calculate correlations
correlation = combined_df.corr()

In [ ]:
# Use the `pct_change` function to calculate daily returns of closing prices for each column
combined_daily_returns = combined_df.pct_change()
combined_daily_returns.head()

In [ ]:
# Calculate variance of all daily returns of AMD vs. S&P 500
variance = combined_daily_returns['SP500'].var()
variance

In [ ]:
# Calculate beta of all daily returns of AMD
amd_beta = covariance / variance
amd_beta

In [ ]:
# Use the `plot` function to visualize daily portfolio returns
cumulative_portfolio_returns.plot()